- var menuItems = { 'Themes': '/themes', 'Features': '/', 'About': '/', 'Blog': '/', 'Support': '/', 'Affiliates': '/', 'Login': '/', 'Join Today': '/', 'Get a Quote': '/' }
- var homeItems = { 'Themes': '/themes', 'Features': '/', 'About': '/', 'Blog': '/' }

mixin dropdown-item(name, link)
  li
    a.dropdown-item(href=link)= name

mixin nav-item(name, link)
    li.nav-item.menu
      a.nav-link(href=link)= name

.brand
  a.brand-link(href='/') envisioned

  nav.navbar
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

      .collapse.navbar-collapse.header-grey(id="bs-example-navbar-collapse-2")
        ul.nav.navbar-nav
          li.dropdown.nav-item.menu
            a.nav-link.active(href="/" data-toggle='dropdown' role='button') Home
              ul.dropdown-menu.submenu
                each val, key in homeItems
                  +dropdown-item(key, val)

          each val, key in menuItems
            +nav-item(key, val)

        ul.nav.navbar-nav.navbar-right
          li
            a
              img.nav-image(src='../../public/assets/icons/twitter.png', alt='twitter')
              img.nav-image(src='../../public/assets/icons/facebook.png', alt='facebook')
              img.nav-image(src='../../public/assets/icons/rss.png', alt='rss')
